@model EHealthCard.Models.Diagnosis

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Diagnoses</h1>
<h4>Are you sure you want to delete this?</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HospitalName)
        </dd>
        <dt class="col-sm-2">
            @Model.DateStart.ToString("dd.MM.yyyy")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Document.Length != 0)
                {
                    var base64 = Convert.ToBase64String(Model.Document);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" />
                }
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DateStart" />
        <input type="hidden" asp-for="HospitalName" />
        <input type="hidden" asp-for="PersonId" />
        <input type="hidden" asp-for="DiagnosisId" />
        <button type="submit" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
            Delete
        </button>
    </form>
</div>
