@model EHealthCard.Models.Diagnosis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diagnosis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateStart.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Document.Length != 0)
                {
                    var base64 = Convert.ToBase64String(Model.Document);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc"/>
                }
            }
        </dd>
    </dl>
</div>
